@font-face {
    font-family: volte-face;
    src: url(../font/Volte-Regular.otf);
}
@font-face {
    font-family: volte-face-light;
    src: url(../font/Volte-Light.otf);
}
@font-face {
    font-family: volte-face-medium;
    src: url(../font/Volte-Medium.otf);
}

body{
    margin: 0;
    padding: 0;
}

.logo{
    width: 200px;
    height: auto !important;
}

.navigation_head{
    padding: 15px;
    background-color: #f8f8f8 !important;
    margin-bottom: 0px !important;
    border: 0px !important;

}

.searchBar{
    margin-top: 10px;
}

.searchButton{
    color: #eeb33f !important;
}

.profil{
    font-size: 13px;
    font-family: volte-face-medium;

}