.content_Global{
    padding: 0px !important;
}

.WrapPicture{
    height: 850px;
    max-height: 100%;
    background-color: #212c35;

}

.title_wrap_black{
    font-size: 25px;
    font-family: volte-face-medium;
    letter-spacing: 2px;
    text-align: justify;
    margin-bottom: 25px;
    color: #212c35;

}
.wrapLink{
    margin-top: 18px;
}

.rejoindre{
    font-size: 20px;
    font-family: volte-face;
    text-align: justify;
    color:  #eeb33f;
}

.text_wrap_black{
    font-size: 15px;
    font-family: volte-face-light;
    line-height: 30px;
    text-align: left;
    color: #212c35;
}

.categorie{
    background-color: #212c35;
    height: 100px;
    margin: 35px;
}